@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "Platypi", serif;
    
}

header{
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: black;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;


}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 25px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

header nav ul li a:hover{
    color: rgb(248, 48, 21);
    border: 2px solid rgb(248, 48, 21);
}

header h2,
span{
    text-shadow: 0 0 10px;
}



h1, h2, h3{
    color: rgb(248, 48, 21);
}

h1{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 15px;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

h3{
    font-size: 25px;
    font-weight: 400;
}

p, form{
    color: white;
    font-size: 18px;
}



section{
    padding-top: 120px;
    margin: 0px 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.texto-home, 
.texto-sobre{
    width: 50%;

}

.home img,
.sobre img{
    width: 50%;
    border-radius: 60px;
    margin: 0px auto;

}

.home img{
    width: 30%;
    
}

.sobre img{
    width: 40%;
}

.texto-sobre h2{
    margin-bottom: 15px;
}

.servicos h2,  
.portfolio h2,
.contato h2{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

}

.servicos,
.portfolio{
    justify-content: space-around;
    align-items: stretch;
    
}

.projeto a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    

}

.projeto a:hover{
    color:rgb(248, 48, 21);
}


.destaque{
    color: rgb(248, 48, 21);
}

.box{
    border: 2px solid rgb(248, 48, 21) ;
    text-align: center;
    flex-basis: 250px;
    padding: 50px;
    color: rgb(122, 16, 2);
}

.box:hover{
    box-shadow: 0 0 20px rgb(245, 109, 109);
    text-shadow: 0 0 5px rgb(245, 109, 109);

}

ion-icon{
    font-size: 80px;
}

.projeto{
    flex-basis: 250px;
    border: 2px solid rgb(230, 30, 3);
    position: relative;
    padding: 10px;
  

}

.projeto:hover{
    box-shadow: 0 0 20px rgb(245, 109, 109);
    text-shadow: 0 0 rgb(245, 109, 109);
}

.projeto img{
    width: 50%;
    margin: 30px auto;
    margin: 20px auto;
    padding: 10px 10px;
}

.contato{
    gap: 20px;
}

.contato h2{
    font-size: 50px;
}

.foto-contato, form{
    width: 48%;
}


.foto-contato{
    background-image: url("foto_portifólio3.png");
    background-size: cover;
    border-radius: 50px;
}


.gradiente{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right, transparent 50%, black 100%);
}

form{
    font-weight: 500px;
    font-size: 20px;
    color: white;
}

.form{
    margin-bottom: 20px;
    padding: 10px;
}

label, 
input,
 textarea{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

input:focus,
textarea:focus{
    outline: 3px solid rgb(248, 48, 21);
}

button{
    color: white;
    background-color: rgb(122, 16, 2);
    font-size: 25PX;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 50px;
    border: 2PX solid white;
   
}
button:hover{
    background-color: rgb(248, 48, 21);
}

footer{
    text-align: center;
    border-top: 3PX solid white;
    margin-top: 50PX;
    padding-top: 30px;
}

footer ul li{
    display: inline-block;
    margin: 20px 35px;
}

.social ul li a ion-icon{
    color:rgb(248, 48, 21);
    font-size: 30px;
}

.social ul li a ion-icon:hover{
    color:rgb(228, 76, 76);
}

@media screen and (max-width:722px){
    header{
        display: block;
        text-align: center;

    }

    section{
        padding-top: 150px;
    }

    .home, .sobre, .contato{
        flex-direction: column;
    }

    .sobre img, 
    .texto-sobre, 
    .texto-home, 
    .foto-contato,
     form{
        width: 100%;
     }

     .home img{
        width: 50%;
     }

     .sobre img{
        width: 50%;
     }
}